<div *ngIf="components" class="row data_center_view">
    <div class="col-md-4 col-sm-4" style="font-weight:600; font-size:20px; color:#4a6076; padding-bottom:15px;">
        onPOINT HCS.Capacity
    </div>
    <div class="col-md-8 col-sm-8" style="padding-top:9px;">
        <span>
            <span *ngFor="let c of components; let i = index">
                <span class="icon-name">&nbsp;</span>
                <span style="cursor: pointer;" (click)="componnetScrollClick(i)" id="componentScroll{{i}}" class="ti-control-record"></span>
            </span>
        </span>
    </div>
</div>
<div *ngIf="components" class="row">
    <ng-container *ngFor="let component of components; let j = index">
        <div [style.display]="j>=scrollLimitMin && j<=scrollLimitMax ? 'block' : 'none'" class="col-md-3 col-sm-6 tab-tile" id="cmp_div_{{component.id}}"
            (click)="componnetScrollClick(j,'direct')">
            <div class="data-center-image d-flex justify-content-center">
                <img bind-src="imgUrl" class="comp-img-thumbnail img-thumbnail">
            </div>
            <p class="data-center">{{component.name}}</p>
        </div>
    </ng-container>
    <div *ngIf="subComponents!=''" class="col-md-12 tab-tile-table table-responsive">
        <div class="row">
            <div *ngFor="let subComponent of subComponents; let k = index" class="col-md-4 col-sm-6 sub-component" (click)="open(subComponentChart,k)">
                <div class="sub-component-body">
                    <p class="sub-component-text sub-component-title">{{subComponent.name}}</p>
                    <div id="chartdiv_{{k+1}}" class="chartdiv"></div>
                    <!--<p class="sub-component-text"><span>{{subComponent.consumed}}</span> / {{subComponent.total}}</p>-->
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="(subCoFlag && !coFlag)" class="col-md-12 tab-tile-table table-responsive" style="padding: 3%;min-height: 200px;">
        <div class="row">
            <div class="col-md-12 tab-tile-table table-responsive text-center">
                <span>
                    <b>THERE ARE CURRENTLY NO SUB COMPONENTS AVAILABLE FOR THIS COMPONENT.
                    </b>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="withoutComponentBlock" class="col-md-12 tab-tile-table table-responsive text-center" style="display:none">
        <span>
            <b>THERE ARE CURRENTLY NO COMPONENTS AVAILABLE FOR THIS DATA CENTER.
            </b>
        </span>
    </div>
</div>

<div *ngIf="subComponents!=''" style="display: none;" id='vcenetrDataDiv'>
    <div class="row" style="padding-top: 20px;">
        <div class="tab-tile-table col-md-12 col-sm-12">
            <div>
                <span>
                    <b>DATASTORE USAGE PERCENTAGE</b>
                </span>
            </div>
            <div id="speedochartdiv"></div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="tab-tile-table col-md-12 col-sm-12">
            <div>
                <span>
                    <b>MONTHLY AVERAGE HOST MEMORY USAGE PERCENTAGE</b>
                </span>
            </div>
            <div id="speedochartdiv2"></div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="tab-tile-table col-md-12 col-sm-12">
            <div>
                <span>
                    <b>MONTHLY AVERAGE HOST CPU USAGE PERCENTAGE</b>
                </span>
            </div>
            <div id="speedochartdiv1"></div>
        </div>
    </div>
</div>

<ng-template #subComponentChart let-c="close" let-d="dismiss">
    <div class="modal-body image-responsive">
        <div class="row">
            <div class="col-md-4">
                <p>
                    <b style="font-size:18px;padding-left:5%;">{{popupName}}</b>
                </p>
            </div>
            <div class="col-md-8" style="text-align: right;">
                <div class="rsddropdown" id="rsddropdown">
                    <span class="rsddropdown-span" (click)="subCoPopupFilter()">...</span>
                    <div id="callMatricsDropdown" class="rsddropdown-content">
                        <a (click)="filterSubcoPopup(3)">Last 3 months</a>
                        <a (click)="filterSubcoPopup(6)">Last 6 months</a>
                        <a (click)="filterSubcoPopup(9)">Last 9 months</a>
                        <a (click)="filterSubcoPopup(12)">Last 12 months</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="speedochartpopup"></div>
    </div>
</ng-template>