.tab-tile:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.tab-tile {
    padding: 15px 0px 15px;
}
.tab-tile-active {
    padding: 15px 0px 15px;
    background-color: #fff; 
}
.img-thumbnail {
    width: 100px;
    height: 100px;
    background-color: unset;
    border: 0px;
}
.data-center {
    color: #3b4147;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 6px 0 4px;
    margin-bottom: 10px;
}
.data-center-body {
    color: #73787d;
    font-size: 13px;
    text-align: center;
    margin-bottom: 1px;
    font-weight: 600;
}
.comp-p-head {
    color: #415166;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1px;
    font-weight: 600;
}
.comp-p-body {
    color: #415166;
    font-size: 15px;
    text-align: center;
    margin-bottom: 1px;
    font-weight: 600;
}
.component-main {
    background-color: #ffffff;
    padding: 0px;
    min-height: 450px;
    padding-top: 30px;
}
.tab-row {
    margin-left: 0px;
    margin-right: 0px;
}
.component-tab-small {
    /* width: 19%; */
    word-wrap:break-word;
    padding: 0px 10px 0px 10px;
    min-width: 80px;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
}
.component-tab {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff; 
    border-top: 1px solid #fff;
}
.mr-l-25 {
    margin-left: 25px;
}
.component-tab, .component-tab-small {
    background-color: #ebebeb;
    border-radius: 4px;
    text-align: center;
    font-weight: 400 !important;
    /* margin-top: 1px; */
}
.component-tab:hover, .component-tab-small:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.tab-active:hover, .sub-tab-active:hover {
    cursor: default;
    box-shadow: unset;
}
.component-tab h3, .component-tab-small h4 {
   color: #233853;
   padding-top: 5px;
}
.component-tab-small h4 {
    font-size: 15px;
}
.component-tab h3 {
    font-size: 19px;
}
.tab-active, .sub-tab-active {
    background-color: #233853;
}
.sub-tab-active {
    border: 1px solid #233853;
}
.tab-active h3, .sub-tab-active h4 {
    color: #ffffff;
    padding-top: 5px;
    /* font-weight: bold; */
}
.tab-content {
    background-color: #d9dde0;
    margin-top: 15px;
    padding: 0px;
}
/* #subCompTab {
    padding-top: 50px;
    background-color: #c7cacf;
    margin-left: 11.22%;
    margin-right: 11.22%;
} */
.tab-content-details {
    background-color: #d9dde0;
    margin-top: 0px;
    margin-bottom: 45px;
    padding: 0px;
}
.comp-body {
    padding-top: 0px;
    border-right: 35px solid #ffffff;
    border-left: 35px solid #ffffff;
    background-color: #ffffff;
}
.comp-tile {
    padding: 0px;
    background-color: #ebebeb;
    padding-top: 15px;
    border-bottom: 15px solid #ffffff;
    padding-bottom: 5px;
}
.comp-active {
    background-color: #c7cacf;
    border-bottom: 16px solid #c7cacf;
}
.comp-data {
    padding: 0px;
    background-color: #c7cacf;
    border-right: 50px solid #ffffff;
    border-left: 50px solid #ffffff;
}
.component-tab-row {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #ffffff;
}
.comp-tile:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-bottom: 15px solid #ebebeb;
}
.comp-active:hover {
    cursor: default;
    box-shadow: unset;
    border-bottom: 16px solid #c7cacf;
}
.data-content {
    padding: 25px;
    background-color: #fff;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.data-head {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap:break-word;
}
.data-sub-head {
    font-size: 20px;
    font-weight: 600;
}
.table thead th, .table td, .table th {
    border: unset;
    padding: .35rem;
    white-space: inherit;
}
.table thead th {
    font-size: 20px;
    font-weight: 600;
}

@media only screen 
  and (max-width: 767px) {
    .component-tab-row {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 1330px) and (min-width: 900px) {
    .comp-body {
        border-right: 10px solid #ffffff;
        border-left: 10px solid #ffffff;
    }
    .tab-main-div {
        border-right: 10px solid #ffffff !important;
        border-left: 10px solid #ffffff !important;
    }
    .comp-data {
        border-right: 25px solid #ffffff !important;
        border-left: 25px solid #ffffff !important;
    }
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
    .comp-body {
        border-right: 0px solid #ffffff;
        border-left: 0px solid #ffffff;
    }
    .tab-main-div {
        border-right: 0px solid #ffffff !important;
        border-left: 0px solid #ffffff !important;
    }
    .comp-data {
        border-right: 15px solid #ffffff !important;
        border-left: 15px solid #ffffff !important;
    }
}

@media only screen and (max-width: 767px) {
    .tab-content-details {
        padding-right: 15px;
        padding-left: 15px;
    }
    .comp-data {
        border-right: unset;
        border-left: unset;
    }
    .tab-content-details {
        margin-bottom: 0px;
    }
    .tab-main-div {
        border-right: 0px solid #ffffff !important;
        border-left: 0px solid #ffffff !important;
    }
    /* .tab-main-div .row {
        padding-left: 40px;
        padding-right: 40px;
    }  */
    .component-main {
        padding-top: 0px;
    }
}
/* @media only screen and (max-width: 730px) { 
    .tab-main-div .row {
        padding-right: 6px;
    }
} */
/* @media only screen and (max-width: 650px) { 
    .tab-main-div .row {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 600px) { 
    .tab-main-div .row {
        padding-right: 12px;
    }
} */
/* @media only screen and (max-width: 575px) { 
    .component-main {
        padding-top: 0px;
    }
    .tab-main-div .row {
        padding-right: 14px;
    }
} */
/* @media only screen and (max-width: 550px) { 
    .tab-main-div .row {
        padding-right: 15px;
    }
}
@media only screen and (max-width: 500px) { 
    .tab-main-div .row {
        padding-right: 18px;
    }
    .component-tab-small h4 {
        font-size: 12px;
    }
} */

.tab-main-div {
    background-color: #c7cacf;
    margin-left: 0px;
    margin-right: 0px;
    border-left: 35px solid #fff;
    border-right: 35px solid #fff;
    padding-top: 25px;
}
.subTab {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 24px;
}

.selectHighchartVcenterGraphFilter {
    margin-top: 5%;
    float: right;
    z-index: 999;
    position: relative;
    top: 30px;
}

@media only screen and (max-width: 560px) {
    .selectHighchartVcenterGraphFilter {
        z-index: 0;
        top: 0;
    }
}
