<div class="row">
    <div class="col-md-4 col-sm-4" style="font-weight:600; font-size:20px; color:#4a6076; padding-bottom:15px;">
        Customer View - {{customerName}}
    </div>
    <div class="col-md-8 col-sm-8" style="padding-top:6px;">
        <span style="margin-left: 15%;">
            <span (click)="scrollLeftClick()" style="cursor: pointer;" *ngIf="dataCenters?.length > 0" class="ti-arrow-circle-left"></span>
            <span *ngFor="let dC of dataCenters, let i = index">
                <span class="icon-name">&nbsp;</span>
                <div *ngIf="dC.id == selectedDataCenter;then bubble1; else bubble2"></div>
                <ng-template #bubble1>
                    <span style="cursor: pointer;font-size:15px;" (click)="dataCenterClick(dC.id,i)" class="fa fa-circle"></span>
                </ng-template>
                <ng-template #bubble2>
                    <span style="cursor: pointer;" (click)="dataCenterClick(dC.id,i)" class="ti-control-record"></span>
                </ng-template>
            </span>
            <span class="icon-name">&nbsp;</span>
            <span (click)="scrollRightClick()" style="cursor: pointer;" *ngIf="dataCenters?.length > 0" class="ti-arrow-circle-right"></span>
        </span>
    </div>
</div>
<div class="row" *ngIf="dataCenters?.length > 0">
    <div *ngFor="let dataCenter of dataCenters, let i = index" id="dataCenter{{dataCenter.id}}" class="col-md-3 col-sm-6 tab-tile {{ dataCenter.id == selectedDataCenter ? 'tab-tile-active' : ''}}"
        (click)="dataCenterClick(dataCenter.id,i,'direct')" [style.display]="i>=scrollLimitMin && i<=scrollLimitMax ? 'block' : 'none'">
        <div class="d-flex justify-content-center">
            <img bind-src="imgUrl" class="img-thumbnail">
        </div>
        <p class="data-center">{{dataCenter.name}}</p>
        <p class="data-center-body">{{dataCenter.city}}, {{dataCenter.state}}</p>
        <p class="data-center-body">{{dataCenter.country}}</p>
        <p class="data-center-body">{{dataCenter.timezone}}</p>
    </div>
    <div class="col-md-12 component-main">
        <div class="row tab-row" *ngIf="!compNotFound">
            <div style="display: none;" *ngFor="let compTabItem of compTabItems" id="compTab{{compTabItem.id}}" class="{{ this.componentCount == 4 ? 'col-md-3 col-sm-6' : '' }} {{ this.componentCount == 3 ? 'col-md-4 col-sm-12' : '' }} {{ this.componentCount == 2 ? 'col-md-6 col-sm-12' : '' }} {{ this.componentCount == 1 ? 'col-md-12 col-sm-12' : '' }} component-tab {{ compTabItem.id == selectedCompTab ? 'tab-active' : ''}}"
                (click)="compTabClick(compTabItem.id)">
                <h3>{{compTabItem.name}}</h3>
            </div>
        </div>
        <div class="row" *ngIf="!compNotFound">
            <div class="offset-md-3 offset-sm-3 col-md-6 col-sm-6" style="padding-top:25px;text-align: center;">
                <span>
                    <span (click)="scrollLeftClickSub()" style="cursor: pointer;" *ngIf="currentCompItems?.length > 0" class="ti-arrow-circle-left"></span>
                    <span *ngFor="let currentCompItem of currentCompItems, let y = index">
                        <span class="icon-name">&nbsp;</span>
                        <div *ngIf="currentCompItem.id == selectedComp;then bubble3; else bubble4"></div>
                        <ng-template #bubble3>
                            <span style="cursor: pointer;font-size:15px;" (click)="ComponentClick(currentCompItem.id, currentCompItem.type, y)" class="fa fa-circle"></span>
                        </ng-template>
                        <ng-template #bubble4>
                            <span style="cursor: pointer;" (click)="ComponentClick(currentCompItem.id, currentCompItem.type, y)" class="ti-control-record"></span>
                        </ng-template>
                    </span>
                    <span class="icon-name">&nbsp;</span>
                    <span (click)="scrollRightClickSub()" style="cursor: pointer;" *ngIf="currentCompItems?.length > 0" class="ti-arrow-circle-right"></span>
                </span>
            </div>
        </div>
        <div class="row" id=tabContent style="display: none;">
            <div class="offset-md-1 col-md-10 offset-md-1 tab-content">
                <div class="row component-tab-row">
                    <div *ngFor="let currentCompItem of currentCompItems, let x = index" class="col-md-3 col-sm-6 comp-body" (click)="ComponentClick(currentCompItem.id, currentCompItem.type,x,'direct')"
                        [style.display]="x>=scrollLimitMin1 && x<=scrollLimitMax1 ? 'block' : 'none'">
                        <div class="comp-tile {{ currentCompItem.id == selectedComp ? 'comp-active' : ''}}" id="subComponent{{currentCompItem.id}}">
                            <div class="d-flex justify-content-center">
                                <img bind-src="imgUrl" class="img-thumbnail">
                            </div>
                            <p class="comp-p-head">{{currentCompItem.name}}</p>
                            <p class="comp-p-body">{{currentCompItem.version}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="tab-row" id="subCompTab">
                    <div *ngFor="let subCompTabItem of subCompTabItems,let j=index" class="{{ j%5 == 0 ? 'offset-md-1' : '' }} col-md-2 col-sm-6 component-tab-small {{subCompTabItem.name == selectedSubCompName ? 'sub-tab-active' : ''}}" id="subCompTabItem_{{subCompTabItem.name}}" (click)="subCompTabClick(subCompTabItem.type_id, subCompTabItem.name)">
                    <div *ngFor="let subCompTabItem of subCompTabItems,let j=index" class="{{ j%5 == 0 ? 'mr-l-25' : '' }} component-tab-small {{subCompTabItem.name == selectedSubCompName ? 'sub-tab-active' : ''}}" id="subCompTabItem_{{subCompTabItem.name}}" (click)="subCompTabClick(subCompTabItem.type_id, subCompTabItem.name)">
                        <h4>{{subCompTabItem.name}}</h4>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row" id="subCompTab" style="display: none;">
            <div class="offset-md-1 col-md-10">
                <div class="tab-main-div"> -->
                    <!-- <div *ngFor="let subCompTabItem of subCompTabItems,let j=index" class="{{ j%5 == 0 ? 'offset-md-1' : '' }} col-md-2 col-sm-6 component-tab-small {{subCompTabItem.name == selectedSubCompName ? 'sub-tab-active' : ''}}" id="subCompTabItem_{{subCompTabItem.name}}" (click)="subCompTabClick(subCompTabItem.type_id, subCompTabItem.name)">
                        <h4>{{subCompTabItem.name}}</h4>
                    </div> -->
                    <!-- <div class="row subTab"> -->
                        <!-- <div *ngFor="let subCompTabItem of subCompTabItems,let j=index" class="{{ j%5 == 0 ? 'offset-md-1' : '' }} col-12 col-sm-6 col-md-2 component-tab-small {{subCompTabItem.name == selectedSubCompName ? 'sub-tab-active' : ''}}" id="subCompTabItem_{{subCompTabItem.name}}" (click)="subCompTabClick(subCompTabItem.type_id, subCompTabItem.name)" ngbTooltip="{{subCompTabItem.name}}"> -->
                        <!-- <div *ngFor="let subCompTabItem of subCompTabItems,let j=index" class="component-tab-small {{subCompTabItem.name == selectedSubCompName ? 'sub-tab-active' : ''}}"
                            id="subCompTabItem_{{subCompTabItem.name}}" (click)="subCompTabClick(subCompTabItem.type_id, subCompTabItem.name)"
                            ngbTooltip="{{subCompTabItem.name}}"> -->
                            <!-- <h4 ngbTooltip="{{subCompTabItem.name}}">{{subCompTabItem.name.length > 8 ?  (subCompTabItem.name | slice:0:7)+'...' : subCompTabItem.name}}</h4> -->
                            <!-- <h4>{{subCompTabItem.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row" id="subCompTab" style="display: none;">
            <div class="offset-md-1 col-md-10">
                <div class="tab-main-div" style="padding-right: 24px; padding-left: 24px;padding-bottom: 10px;
                ">
                    <div class="row">
                        <div class="offset-md-8 col-md-4">
                            <select class="form-control" name="selectedSubComp" id="selectedSubComp" (change)="subCompTabClick()">
                                <option *ngFor='let subCompTabItem of subCompTabItems' selected="{{subCompTabItem.name == selectedSubCompName ? 'selected' : ''}}" value="{{subCompTabItem.type_id}}|{{subCompTabItem.name}}" >{{subCompTabItem.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="subCompTabItems == ''" style="padding-top: 50px;padding-bottom: 50px;">
            <div class="col-md-12" style="text-align: center">
                <b>THERE ARE NO SUBCOMPONENTS FOUND FOR THIS COMPONENT.</b>
            </div>
        </div>
        <div class="row" id="subCompDetails" style="display: none;">
            <div class="offset-md-1 col-md-10 offset-md-1 tab-content-details">
                <div class="row tab-row">
                    <div class="col-md-12 col-sm-12 comp-data">
                        <div class="data-content" id="contentDiv" style="display: none;">
                            <p class="data-head">{{selectedSubCompName}} CONTENTS:</p>
                            <div class="table-responsive">
                                <p>{{customerContent.content}}</p>
                            </div>
                            <div *ngIf="selectedCompTab == 2" class="selectHighchartVcenterGraphFilter">
                                <select (change)="changeVcenterGraphContent()" name='selectHighchartVcenterGraph' id="selectHighchartVcenterGraph">
                                    <option [selected]="selectedVcenterGraphFilter === 1" value="1">1 Month</option>
                                    <option [selected]="selectedVcenterGraphFilter === 3" value="3">3 Months</option>
                                    <option [selected]="selectedVcenterGraphFilter === 6" value="6">6 Months</option>
                                    <option [selected]="selectedVcenterGraphFilter === 9" value="9">9 Months</option>
                                    <option [selected]="selectedVcenterGraphFilter === 12" value="12">12 Months</option>
                                </select>
                            </div>
                            <div *ngIf="selectedCompTab == 2" id='highchartVcenterGraph'></div>
                        </div>
                        <div class="data-content" style="text-align: center; display: none;" id="contentErrorDiv">
                            <b>NO CONTENTS FOUND FOR {{selectedSubCompName}}.</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="compNotFound" style="padding-top: 50px;">
            <div class="col-md-12" style="text-align: center">
                <b>THERE ARE NO COMPONENTS FOUND FOR THIS DATA CENTER.</b>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="dataCenters == ''" style="padding-top: 50px;">
    <div class="col-md-12" style="text-align: center">
        <b>THERE ARE NO DATA CENTERS FOUND.</b>
    </div>
</div>