<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left"
  vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect"
  vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav style="position: fixed;background-color: white;" class="navbar header-navbar pcoded-header" header-theme="theme4">
      <div class="navbar-wrapper">
        <div class="navbar-logo" navbar-theme="theme5">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i style="color: black;" class="ti-menu"></i>
          </a>
          <a (click)="onNavigate()" style="cursor:pointer;">
            <img style="max-width: 100%;height: 40px;" src="assets/images/logo.png" alt="Theme-Logo" />
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <!--<ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i class="ti-menu f-18"></i></a></div>
              </li>
              <li>
                <a href="javascript:;" appToggleFullscreen>
                  <i class="ti-fullscreen"></i>
                </a>
              </li>
            </ul>-->
            <ul class="nav-right pro">
              <li class="header-notification">
                <!--<a href="javascript:;">
                  <i class="ti-bell"></i>
                  <span class="badge">5</span>
                </a>-->
                <ul class="show-notification">
                  <li>
                    <h6>Notifications</h6>
                    <label class="label label-danger">New</label>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">John Doe</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Joseph William</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Sara Soudein</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="user-profile header-notification">
                <a href="#" (click)="disableRouterAction($event)">

                  <span class="pro-name" style="color: black">{{currentUser}}</span>
                  <i style="color: black; font-size: 20px;" class="pro-name1 fa fa-user"></i>
                  <i style="color: black" class="ti-angle-down pro-name"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li class="pro-name1">
                    <a>
                      <i class="fa fa-user"></i> {{currentUser}}
                    </a>
                  </li>
                  <li>
                    <a (click)="open(content)" style="cursor: pointer;">
                      <i class="ti-settings"></i> About
                    </a>
                  </li>

                  <li (click)="logoutClicked($event)">
                    <a href="">
                      <i class="ti-power-off"></i> Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-body">
        <div class="modalForm">
          <div class="form-modal">
            <div class="header_title col-md-12">Version</div>
            <p class="modal_version">1.0</p>

            <div class="col-md-12 form-modal" style="padding-bottom: 30px;">
              <div style="position: absolute; top:25%; left:50%; transform: translate(-50%,-50%);" class="">
                <button type="button" class="btn btn-primary save_btn btn-edit-save" (click)="c('Close click')">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class=" pcoded-navbar" navbar-theme="theme1" active-item-theme="theme5" sub-item-theme="theme2" active-item-style="style0"
          pcoded-navbar-position="absolute" (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'">
          <div class="sidebar_toggle">
            <a href="javascript:;">
              <i class="icon-close icons"></i>
            </a>
          </div>
          <div class="pcoded-inner-navbar main-menu" appAccordion slimScroll width="100%" height="100%" size="4px" color="#fff" opacity="0.3"
            allowPageScroll="false">
            <div class="">
              <div class="main-menu-content">
                <ul>
                  <li [@mobileMenuTop]="isCollapsedSideBar" class="more-details" [ngClass]="isCollapsedSideBar">
                    <a href="javascript:">
                      <i class="ti-user"></i>View Profile</a>
                    <a href="javascript:">
                      <i class="ti-settings"></i>Settings</a>
                    <a href="javascript:">
                      <i class="ti-layout-sidebar-left"></i>Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div *ngFor="let asideItems of menuItems.getAll()">
                <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" subitem-border="solid" *ngFor="let asideItem of asideItems.main"
                  appAccordionLink group="{{asideItem.state}}">
                  <li (click)="reloadCurrentPage()" [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external'" appAccordionLink
                    group="{{asideItem.state}}">
                    <a href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                      <span class="pcoded-micon">
                        <i class="{{ asideItem.icon }}"></i>
                      </span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li (click)="reloadCurrentPage()" [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink group="{{asideItem.state}}">
                    <a [routerLink]="['/', asideItem.main_state, asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle
                      *ngIf="asideItem.main_state; else: mainContent">
                      <span class="pcoded-micon">
                        <i class="{{ asideItem.icon }}"></i>
                      </span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ng-template #mainContent>
                      <a [routerLink]="['/', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                        <span class="pcoded-micon">
                          <i *ngIf="!asideItem.icon_customisation; else imageIcon" class="{{ asideItem.icon }}"></i>
                          <ng-template #imageIcon>
                            <img src="{{ asideItem.icon }}">
                          </ng-template>

                        </span>
                        <span class="pcoded-mtext">{{ asideItem.name }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </ng-template>
                  </li>
                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" id="{{asideItem.state}}" class="pcoded-hasmenu" dropdown-icon="style3"
                    subitem-icon="style6" appAccordionLink group="{{asideItem.state}}">
                    <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                      <span class="pcoded-micon">
                        <i class="{{ asideItem.icon }}"></i>
                      </span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
                        <li (click)="reloadCurrentPage(asideItem.state)" [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                          <a [routerLink]="['/'+asideItem.state+'/'+asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}">
                            <img src="assets/images/ellipse-20.png">
                            <span class="pcoded-micon">
                              <i class="ti-angle-right"></i>
                            </span>
                            <span class="pcoded-mtext" style="padding-left: 6px;">{{ asideChildren.name }} </span>
                            <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                            <img src="{{ asideChildren.img }}" style="float: right;margin-right: 7px;">
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>

                        <ng-container *ngIf="asideChildren.subComponentChildren">
                          <div id="toEnableDc{{asideChildren.id}}" class="EnableDcBlock">
                            <div (click)="dcComp.selectDataCenterComponents(subComponentChildren.id)" id="subCompChild{{subComponentChildren.id}}" class="subComponent"
                              *ngFor="let subComponentChildren of asideChildren.subComponentChildren">{{subComponentChildren.name}}</div>
                          </div>
                        </ng-container>

                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" *ngIf="asideChildren.type === 'sub'"
                          appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon">
                              <i class="ti-direction-alt"></i>
                            </span>
                            <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                            <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu">
                            <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                              <li [routerLinkActive]="['active']">
                                <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]" target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                                  <span class="pcoded-micon">
                                    <i class="ti-angle-right"></i>
                                  </span>
                                  <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                                  <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                  <span class="pcoded-mcaret"></span>
                                </a>
                              </li>
                            </ng-template>
                          </ul>
                        </li>
                      </ng-template>
                    </ul>
                  </li>
                </ul>
                <ul id="leftNavAlertId" (click)="leftNavAlertClicked($event)" class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" subitem-border="solid" appAccordionLink
                  group="alert">
                  <li appaccordionlink="">
                    <a appaccordiontoggle="" target="_self" href="#/alert">
                      <span class="pcoded-micon">
                        <i class="ti-alert"></i>
                      </span>
                      <span class="pcoded-mtext">ALERT</span>
                      <span class="pcoded-badge label label-">3</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div style="margin-top: 56px;" class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <!--<app-title></app-title>
                  <app-breadcrumbs></app-breadcrumbs>-->
                <div class="page-body">
                  <router-outlet>
                    <spinner></spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  &copy; 2017 tekvizion PVS Inc. All Rights Reserved | PRIVACY POLICY, YOUR PRIVACY RIGHTS
</footer>
<go-top-button [html]="htmlButton" [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="100" [styles]="{
                      'right': '50px',
                      'bottom': '50px',
                      'top': 'auto',
                      'left': 'auto',
                      'width': 'auto',
                      'height': 'auto',
                      'background' : 'transparent'
                   }">
</go-top-button>