/* You can add global styles to this file, and also import other style files */

aside.pcoded-slider.ng-sidebar {
    top: 56px;
}

.slimscroll-wrapper, .scroll-window {
    width: 100% !important;
}

.userlist-box.show {
    display: -webkit-box;
}

.userlist-box.hide {
    display: none;
}

footer{
    text-align: center;
    padding: 22px 0;
    font-size: 13px;
    border-top: 2px solid #eee;
    height: 62px;
	background: rgb(255, 255, 255);
}
.pcoded-main-container {
    background-color: #d9dde0;
}
.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li > a{
    color: #56BACA;
}
.pcoded .pcoded-navbar[active-item-theme="theme5"] .pcoded-item li:hover > a{
    color:#FFF !important;
}
.pcoded .pcoded-navbar[active-item-theme="theme5"] .pcoded-item > li.active > a:before
{
    border-left-color:black !important;
}

.pro-name1{
	display:none;
	}
@media only screen and (min-device-width: 516px) and (max-device-width: 992px)
{
	.pro{
		margin-top:-45px;
	}
}
.header_title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #3d4657;
}
.modal_version{
    text-align: center;
    font-size: 38px;
    color: #3d4657;
}
.btn-primary{
    background-color: #203c66 !important;
    border-color: #203c66 !important;
    font-weight: 600 !important;
}

.subComponent{
	color:#56BACA !important;
	padding-left: 54px;
	cursor: pointer;
}
.subComponentActive{
	color:white !important;
	padding-left: 54px;
	cursor: pointer;
}

@media only screen and (max-width: 515px) {
	.pro-name{
		display: none;
	}
	.pro{
		margin-top: -38px;	
	}
	.header-navbar .navbar-wrapper .navbar-container .nav-left, .header-navbar .navbar-wrapper .navbar-container .nav-right{
		margin-bottom: -37px;
	}
	.pro-name1{
		display:block !important;
	}
	.user-profile{
		padding-bottom:18px !important;
		cursor:pointer !important;
	}
	.header-navbar .navbar-wrapper .navbar-container .nav-right li{
		line-height: 0;
	}
	.show-notification{
		margin-top: 18px !important;
	}
	.header-navbar .navbar-wrapper .navbar-container .nav-right a{
	 	padding: 0px !important;
	}
	.header-navbar .navbar-wrapper .navbar-logo {
		padding-top: 6px;
	}
}
@media only screen and (min-width:516px) and (max-width: 992px) {
	.pro{
		margin-top: -56px;	
	}
}